.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.border-decoration {
  position: absolute;
  top: 12px;
  left: 12px;
  right: 12px;
  bottom: 12px;
  border: 1px solid white;
  border-radius: 24px;
  z-index: 2;
}

.text {
  font-size: 200px;
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  user-select: none;
  z-index: 3;
  height: 50vh;

  @media (max-width: 600px) {
    font-size: 100px;
  }

  @media (max-width: 400px) {
    font-size: 60px;
  }

  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    .letter {
      transition: ease-out 1s;
      transform: translateY(40%);
      color: white;
    }
    .shadow {
      transform: scale(1, -1) translateY(-2%);
      color: white;
      opacity: 0.2;
      transition: ease-in 1s, ease-out 1s;
    }

    &:hover {
      .letter {
        transform: translateY(25%);
      }
      .shadow {
        opacity: 0;
        transform: scale(1, -1) translateY(-20%);
      }
    }
  }
}
